$main-color: #F9EC31;
$orange:#d78e23;
$border:1px solid #c3c3c3;;
$transition: 0.2s all ease-in;
$deg: -6deg;
$radius: 5px;
$shadow:0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);

$btn-height:5px;
$btn-width:40px;
$btn-color:#333333;